
<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/css/style.css">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand h1">Animal House Shelter</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Dogs</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Cats</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Volunteer</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-uppercase">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="my-section-jumbotron">
    <div class="jumbotron jumbotron-fluid my-jumbotron d-flex align-items-center">
        <div class="container text-center ">
            <h1 class="display-4 text-uppercase my-jumbotron-text my-4">Finding Forever Homes for Dogs and Cats</h1>
            <h3 class="text-white">Animal House Shelter is a no-kill shelter that rescues and cares for homeless pets.</h3>
            <button class="btn button1 btn-lg btn-warning my-2">Find my Dog!</button>
            <h4 class="text-white">Or</h4>
            <button class="btn button1 btn-lg btn-warning my-2">Find my Cat!</button>
        </div>
    </div>
</section>


<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</div>

</body>
</html>