@model CatsViewModel
@{
    Layout = "_Layout";
    int counter = 0;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <section class="my-section-jumbotron-cats">
        <div class="jumbotron jumbotron-fluid my-jumbotron-cats d-flex align-items-center">
            <div class="container text-center ">
                <h1 class="display-4 text-uppercase my-jumbotron-text my-4">Adopt or Foster a Cat or Puppy </h1>
            </div>
        </div>
    </section>

    <section class="my-section-text">
        <div class="container my-4">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <h3 class="my-mission-text text-center">Save a Life</h3>
                    <p class="text-center">Make your life happier, more fun, & filled with love by adopting a cat.</p>
                </div>
                <div class="col-lg-6 mx-auto text-center">
                    <p>Every day, our no-kill shelter receives cats that have run out of time at high kill facilities due to lack of space and we find them a forever home. Browse for your next kitty below!</p>
                </div>
            </div>
        </div>
    </section>

    <section class="my-section-list-cats">
        <div class="row">
            @foreach (var item in Model.Cats)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                @:</div>
                @:<div class="row">
                }

                <div class="col-lg-4 col-md-4">
                    <div class="thumbnail text-center">
                        <h3>
                            <a asp-controller="Cats" asp-action="Details" asp-route-id="@item.CatID">@item.Name</a>
                        </h3>
                        <h3>
                            <img src="@item.ImgUrl" style=" display: block;" height="400" width="450"/>
                        </h3>
                    </div>
                </div>
                counter++;
            }
        </div>
    </section>

    <section class="my-section-list-cats-paging">
        <div class="container">
            <div class="mx-auto">
                @if (Model.Pager.EndPage > 1)
                {
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List">First Page</a>
                                <p></p>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List?page=@(Model.Pager.CurrentPage - 1)">Previous Page</a>
                                <p></p>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List?page=@(Model.Pager.CurrentPage + 1)">Next Page</a>
                                <p></p>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List?page=@(Model.Pager.TotalPages)">Last Page</a>
                                <p></p>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </section>
</body>
</html>
