@model CatsViewModel
@{
    Layout = "_Layout";
    int counter = 0;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/css/style.css">
</head>
<body>
    <section class="my-section-jumbotron-cats">
        <div class="jumbotron jumbotron-fluid my-jumbotron-cats d-flex align-items-center">
            <div class="container text-center ">
                <h1 class="display-4 text-uppercase my-jumbotron-text my-4">Adopt or Foster a Cat or Puppy </h1>
            </div>
        </div>
    </section>

    <section class="my-section-text">
        <div class="container my-4">
            <div class="row">
                <div class="col-lg-2">
                    <h2>ASDAS</h2>
                    <h3>asdsadasdsadasd</h3>
                </div>
            </div>
        </div>
    </section>

    <section class="my-section-list-cats">
        <div class="row">
            @foreach (var item in Model.Cats)
            {
                if (counter != 0 && counter % 3 == 0)
                {
                @:</div>
                @:<div class="row">
                }

                <div class="col-md-4">
                    <div class="thumbnail text-center">
                        <h3>
                            <a asp-controller="Cats" asp-action="Details" asp-route-id="@item.CatID">@item.Name</a>
                        </h3>
                        <h3>
                            <img src="@item.ImgUrl" style=" display: block;" />
                        </h3>
                    </div>
                </div>
                counter++;
            }
        </div>
    </section>

    <section class="my-section-list-cats-paging">
        <div class="container">
            <div class="mx-auto">
                @if (Model.Pager.EndPage > 1)
                {
                    <ul class="pagination">
                        @if (Model.Pager.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List">First Page</a>
                                <p></p>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List?page=@(Model.Pager.CurrentPage - 1)">Previous Page</a>
                                <p></p>
                            </li>
                        }

                        @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List?page=@(Model.Pager.CurrentPage + 1)">Next Page</a>
                                <p></p>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="~/Cats/List?page=@(Model.Pager.TotalPages)">Last Page</a>
                                <p></p>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </section>
</body>
</html>
